[submodule "arango"]
	path = arango
	url = https://github.com/abdes/submodule-docker-dev-workflow-arango.git
[submodule "server"]
	path = server
	url = https://github.com/abdes/submodule-docker-dev-workflow-server.git
[submodule "web"]
	path = web
	url = https://github.com/abdes/submodule-docker-dev-workflow-web.git
